workflow.json
{
  "name": "AI Lead Generation Bot",
  "nodes": [
    {
      "parameters": {
        "path": "lead-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "modelId": "llama3-70b-8192",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a helpful lead generation assistant. Your goal is to qualify leads by asking for their Name, Company, and Budget. If you have all information, classify them as 'Hot', 'Warm', or 'Cold'."
            },
            {
              "role": "user",
              "content": "={{$json.body.message}}"
            }
          ]
        }
      },
      "id": "ai-agent",
      "name": "Groq AI Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        300,
        300
      ],
      "credentials": {
        "groqApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Groq Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "id": "json-parser",
      "name": "Parse Response",
      "type": "n8n-nodes-base.jsonParse",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{$json.name}}",
            "Email": "={{$json.email}}",
            "Budget": "={{$json.budget}}",
            "Status": "={{$json.status}}"
          }
        },
        "options": {}
      },
      "id": "google-sheets",
      "name": "Save to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "content": "={{$json.response_message}}",
        "options": {}
      },
      "id": "response",
      "name": "Send Reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Groq AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI Agent": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Save to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Sheets": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
